<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- 
      Configure Selenium grid settings http://www.seleniumhq.org/projects/grid/
    -->
		<!--
      Choose on of the following drivers:
      InternetExplorer
      Chrome
      Firefox
    -->
		<add key="DriverToUse" value="Firefox" />
		<add key="TargetUrl" value="https://mail.tutanota.com/login" />
		<add key="LoginEmail" value="acumaticaemailtest@tutanota.com" />
		<add key="Password" value="2wsder@WSDER" />
		<add key="RunAll" value="1" />
		<add key="RunEmailSend" value="1" />
		<add key="RunEmailRecieve" value="1" />
		<add key="ImplicitlyWait" value="30" />
		<add key="PageLoadTimeout" value="60" />
	</appSettings>
</configuration>